<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.crossplay.unlock</string>
  <key>CFBundleName</key>
  <string>CrossPlay Unlock</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>CrossPlay Unlock talks to your reader to answer its unlock challenges.</string>
</dict>
</plist>
